<%= flash[:notice] if flash[:notice] %>

<h1 class="blue-text center">Welcome To The Instrument List Application</h1>
<h4 class="green-text center">Now you can keep track of all your instruments!</h4>
