<% if @errors %>
    <ul class="pink">
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<h1>Signup</h1>
<form action="/signup" method="post">
    <div class="input-field">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" class="validate">
    </div>
    <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Pasword" class="validate">
    </div>
    <input type="submit" value="Signup" class="btn">
</form>