<% if @errors %>
    <ul class="pink">
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<h1>Edit Instrument</h1>
<form action="/instruments/<%= @instrument.id %>" method="post">
    <input type="hidden" value="patch" name="_method">
    <div class="input-field">
        <input placeholder="Placeholder" name="instrument[name]" id="instrument_name" type="text" class="validate" value="<%= @instrument.name %>">
          <label for="instrument_name">Instrument Name</label>
    </div>
    <input type="submit" value="Update Instrument" class="btn">
</form>