<h1>Instrument List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>   
        </thead>

        <tbody>
            <% @instruments.each do |instrument| %>
                <tr>
                    <td><%= instrument.name %></td>
                    <td><a href="/instruments/<%= instrument.id %>">View</a></td>
                    <td><a href="/instruments/<%= instrument.id %>/edit">Edit</a></td>
                    <td>
                        <form action="/instruments/<%= instrument.id %>" method="post">
                            <input type="hidden" id="hidden" value="delete" name="_method">
                            <input type="submit" value="Delete" class="btn">
                        </form>
                    </td>
                </tr>        
            <% end %>
        </tbody>
    </table>