<h1>Create Instrument</h1>

<form action="/instruments" method="post">

    <div class="input-field">
        <input placeholder="Placeholder" name= "instrument_name" id="instrument_name" type="text" class="validate">
          <label for="instrument_name">Instrument Name</label>
    </div>
    <input type="submit" value="Create Instrument" class="btn">
</form>